#bladerunner {
  padding: 2rem;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 2rem;

  #left,
  #right {
    padding: 1rem;
    border-radius: 5px;
  }

  #left {
    width: 80%;
  }

  #right {
    min-width: 300px;
    max-width: 300px;
    background-color: rgb(230, 230, 230);
  }

  form {
    input {
      height: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    label {
      font-weight: bold;
    }
    input:read-only {
      background-color: rgb(224, 224, 224);
      color: rgb(172, 172, 172);
      border: none;
      outline: none;
      cursor: default;
    }

    #initialInfo {
      display: flex;
      gap: 1rem;
      > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    input[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
      margin: 0;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    #frameRange {
      display: flex;
      gap: 2rem;
      > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    .directoryInput {
      display: flex;
      gap: 0.1rem;
      align-items: baseline;
      input {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        max-width: 300px;
        width: 80%;
      }
    }

    .baseNameInput {
      display: flex;
      gap: 0.1rem;
      align-items: baseline;
      input {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        max-width: 300px;
        text-align: right;
      }
      input::placeholder {
        text-align: right;
      }
    }

    #flagsInput {
      display: flex;
      gap: 1rem;
      > div {
        display: flex;
        align-items: center;
        input[type="checkbox"] {
          accent-color: rgb(224, 224, 224);
        }
      }
    }
  }

  button {
    padding: 1rem;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(223, 223, 223);
  }
}

@media (max-width: 1000px) {
  #bladerunner {
    flex-direction: column;

    #left,
    #right {
      width: auto;
      max-width: unset;
    }
  }
}
