/* #region */
#splashSection {
  position: relative;
  height: clamp(500px, 66vh, 700px);
  background-color: rgb(234, 245, 247);
}

.splashView {
  width: 100%;
  height: 100%;
  position: absolute;
}

#splashTitle {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  container-name: splashTitleContainer;
}

#splashText {
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 1;
}

@media (max-width: 800px) {
  #splashTitleBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#splashTitle h1 {
  font-size: 8rem;
  text-align: center;
  margin: 0;
}

@media (max-width: 500px) {
  #splashTitle h1 {
    font-size: 5.5rem;
    text-align: center;
    margin: 0;
  }

  #splashText {
    display: none;
  }
}

@media (max-width: 350px) {
  #splashTitle h1 {
    font-size: 4rem;
    text-align: center;
    margin: 0;
  }
}

#splashTitle h2 {
  margin: 0;
  text-align: justify;
}
/* #endregion */

#announcementSection {
  display: flex;
  background-color: rgb(234, 245, 247);
  height: 800px;
  padding: 2rem;
  justify-content: center;
}

/* #region */
#pipelineSection {
  background-color: rgb(142, 223, 162);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pipelineButtons {
  display: grid;
  width: 700px;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

.pipelineButton {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verticalLine {
  width: 7px;
  height: 30px;
  border-radius: 4px;
  background-color: black;
}

#timelineContainer {
  display: flex;
  position: absolute;
  width: 750px;
  height: auto;
  pointer-events: none;
  bottom: calc(24px + 18.72px * 2 + 15px);
  left: 50%;
  transform: translateX(-50%);
}

.horizontalLine {
  width: 100%;
  height: 7px;
  border-radius: 4px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* #region */
.triangle {
  position: relative;
  background-color: black;
  text-align: left;
  right: 0;
}
.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
  width: 30px;
  height: 30px;
  border-top-right-radius: 30%;
}
/* #region */
.triangle {
  position: absolute;
  transform: rotate(30deg) skewX(-30deg) scale(1, 0.866) translateY(-100%);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
/* #endregion */
/* #endregion */

.timelineModelView {
  width: 75px;
  height: 75px;
  margin-bottom: 1rem;
}

#pipelineIllustration {
  display: flex;
}

.pipelineTitle {
  display: block;
  background-color: rgb(255, 255, 224);
  height: 100px;
}

.pipelineContainer {
  display: block;
  justify-content: space-between;
}

.pipelineDescription {
  background-color: rgb(255, 255, 224);
  height: 400px;
}

.pipelineImage {
  background-color: rgb(255, 255, 224);
  height: 400px;
  width: 200px;
  margin-left: auto;
}
/* #endregion */

.block {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 50%;
  min-width: 500px;
}

.block h1 {
  font-size: 3rem;
  margin-top: 25px;
  margin-bottom: 10px;
}

.block p {
  font-size: large;
}

.block span {
  font-weight: bold;
}

.iconImage {
  height: auto;
  width: 75px;
  height: 75px;
}

.iconImageBlock {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 25px;
}

#directionSection {
  background-color: rgb(230, 230, 230);
  height: 800px;
  position: relative;
}

.SDHImageBlock {
  width: 100vw;
  object-fit: contain;
  display: flex;
}

.SDHImageContainer {
  height: 80vw;
  width: 100vw;
  overflow: hidden;
}

.SDHTextBlock {
  flex-grow: 1;
  top: 0;
  top: 30%;
  left: 70%;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  position: absolute;
  height: 15vw;
  width: 20vw;
  background-color: rgba(143, 143, 143, 0.646);
}

.SDHTextBlock > h1 {
  margin: 0;
}

.SDHSmallTextBlock {
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.SDHButton {
  margin-top: 10vw;
  height: 8vw;
  width: 15vw;
  border-radius: 2%;
  border-color: rgba(156, 78, 180, 0.695);
  background-color: rgba(185, 185, 185, 0.791);
}

.SDHButton > h1 {
  font-size: 2rem;
}
