:root {
  --home-background-color: rgb(234, 245, 247);
}

/* #region */
#splashSection {
  position: relative;
  height: clamp(500px, 66vh, 700px);
  background-color: var(--home-background-color);
}

@media (max-width: 600px) {
  #splashSection {
    height: 300px;
  }
}

#adBanner {
  padding: 0.2rem;
  text-align: center;
  background-color: rgb(253, 127, 137);
  transition: 0.5s all;
  animation-name: pulsate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

#adBanner h1 {
  color: white;
}

@keyframes pulsate {
  from {
    background-color: rgb(253, 127, 137);
  }
  to {
    background-color: rgb(255, 144, 127);
  }
}

#adBanner:hover {
  cursor: pointer;
  animation-play-state: paused;
  animation: unset;
  background-color: rgb(255, 212, 127);
  transition: 0.5s all;
}

.splashView {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#splashTitle {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
}

#splashText {
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 1;
}

#socialIcons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
  margin-top: 1rem;
}

.socialicon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffccbb;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  padding: 5px;
  margin: 5px;
  transition: background-color 200ms;
}
.socialicon:hover {
  background-color: rgba(163, 215, 236, 0.8);
}

@media (max-width: 800px) {
  #splashTitle {
    top: 20%;
    height: 100%;
  }

  #splashTitleBox {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    height: 90%;
  }

  #splashText {
    display: none;
  }

  #socialIcons {
    position: absolute;
    bottom: 0;
  }
}

#splashTitle h1 {
  font-size: 8rem;
  text-align: center;
  margin: 0;
}

@media (max-width: 500px) {
  #splashTitle h1 {
    font-size: 5.5rem;
    text-align: center;
    margin: 0;
  }

  #splashText {
    display: none;
  }
}

@media (max-width: 350px) {
  #splashTitle h1 {
    font-size: 4rem;
    text-align: center;
    margin: 0;
  }
}

#splashTitle h2 {
  margin: 0;
  text-align: justify;
}
/* #endregion */

:root {
  --accent: linear-gradient(
    to bottom,
    rgb(255, 231, 194),
    90%,
    rgb(236, 203, 165)
  );
}

#announcementSection {
  display: flex;
  background-color: var(--home-background-color);
  padding: 2rem;
  justify-content: center;
  position: relative;
}

.block {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 50%;
  min-width: 500px;
}

.block h1 {
  font-size: 3rem;
  margin-top: 25px;
  margin-bottom: 10px;
}

.block p {
  font-size: large;
}

.block span {
  font-weight: bold;
}

.iconImage {
  width: 75px;
}

.iconImageBlock {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 25px;
}

#whoWeAreContainer {
  background: var(--accent);
  border-radius: 15px;
  padding: 2rem;
  margin-top: 100px;
  box-shadow: 2px 2px 5px rgb(180, 180, 180);
  z-index: 1;
}

#announcementSidePanel {
  max-width: 300px;
  width: 100%;
}

@media (max-width: 700px) {
  #announcementSection {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  #whoWeAreContainer.block {
    width: 100%;
    margin: 0;
    max-width: none;
    border-radius: 0;
    box-shadow: none;
    min-width: 0;
  }

  #announcementSidePanel {
    display: none;
  }

  .iconImageBlock {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* #region */
#pipelineSection {
  background-color: var(--home-background-color);
  padding: 2rem;
  padding-bottom: 5rem;
}

#pipelineDiv {
  z-index: 1;
  background: var(--accent);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(180, 180, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#pipelineButtons {
  display: grid;
  width: 700px;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  justify-items: center;
}

.pipelineButton {
  width: 80px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 200ms;
}

.pipelineButton:hover {
  scale: 110%;
}

.verticalLine {
  width: 7px;
  height: 30px;
  border-radius: 4px;
  background-color: #222222;
  transition: all 0.1s;
}

#timelineContainer {
  display: flex;
  position: absolute;
  width: 750px;
  height: auto;
  pointer-events: none;
  bottom: calc(24px + 18.72px * 2 + 15px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.horizontalLine {
  width: 100%;
  height: 7px;
  border-radius: 4px;
  background-color: #222222;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* #region */
.triangle {
  position: relative;
  background-color: #222222;
  text-align: left;
  right: 0;
}
.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
  width: 30px;
  height: 30px;
  border-top-right-radius: 30%;
}
/* #region */
.triangle {
  position: absolute;
  transform: rotate(30deg) skewX(-30deg) scale(1, 0.866) translateY(-100%);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
/* #endregion */
/* #endregion */

.timelineModelImg {
  width: 75px;
  height: 75px;
  margin-bottom: 1rem;
}

#pipelineDataContainer {
  display: flex;
  width: 800px;
  padding: 2rem;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    rgba(98, 170, 238, 0.79),
    90%,
    rgba(94, 150, 235, 0.79)
  );
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgb(180, 180, 180);
  transition: scale 150ms, max-height 500ms ease, padding 300ms;
  overflow: hidden;
}

/* #pipelineDataContainer:hover {
  scale: 102%;
} */

#pipelineInfoContainer {
  display: flex;
}

.hide {
  max-height: 0 !important;
  padding: 0 !important;
}

#pipelineDescription {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  overflow-wrap: anywhere;
  font-size: larger;
}

#pipelineImages {
  display: flex;
}

.pipelineImage {
  width: 350px;
  border-radius: 10px;
  margin-left: 1rem;
  box-shadow: 2px 2px 5px rgb(180, 180, 180);
}

@media (max-width: 1000px) {
  #pipelineSection > div > div {
    display: none;
  }

  #pipelineDiv {
    display: flex !important;
    width: 100%;
    border-radius: 0;
  }

  #pipelineDiv h1 {
    font-size: 2rem !important;
  }

  #pipelineDiv h3 {
    font-size: medium !important;
    margin-top: 1.5em;
  }

  #pipelineDiv > div {
    width: 100%;
  }

  #pipelineDiv > div > div {
    width: 100%;
  }

  #pipelineSection {
    padding: 0;
    padding-right: 0;
  }

  #pipelineDataContainer {
    width: 90% !important;
  }

  #timelineContainer {
    width: 100%;
  }

  #pipelineInfoContainer {
    width: 100%;
    flex-direction: column;
  }

  #pipelineButtons {
    width: 100%;
  }

  #pipelineDescription,
  #pipelineImages {
    width: 100%;
  }

  #pipelineImages img {
    width: 100%;
    margin: 0;
    margin-top: 1em;
  }

  #timelineContainer .triangle {
    display: none;
  }
}

.backgroundImg {
  animation: float 2s infinite alternate-reverse ease-in-out;
}

@keyframes float {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}

@media (max-width: 700px) {
  .backgroundImg {
    display: none;
  }

  #pipelineButtons {
    grid-template-columns: repeat(3, 1fr);
    width: auto;
    background-color: rgba(98, 170, 238, 0.79);
    border-radius: 15px;
    padding: 1em;
    box-shadow: 2px 2px 5px rgb(180, 180, 180);
  }

  .verticalLine,
  .horizontalLine {
    display: none;
  }

  #pipelineDiv h3 {
    margin: 0;
  }

  .timelineModelImg {
    width: 80%;
    height: 80%;
  }
}
/* #endregion */

#directionSection {
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--home-background-color);
}

.SDHImageContainer {
  width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(128, 120, 112, 0.404);
}

.SDHImageContainer img {
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

.SDHTextBlock {
  top: 0;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 219, 171, 0.897);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 15px;
  gap: 10px;
  filter: drop-shadow(5px 5px 5px rgba(128, 120, 112, 0.404));
  backdrop-filter: saturate(180%) blur(3px);
  transition: all 100ms;
}

.SDHTextBlock:hover {
  scale: 102%;
}

.SDHTextBlock > h1 {
  margin: 0;
}

.SDHSmallTextBlock {
  font-size: large;
  text-align: center;
}

.SDHButton {
  height: 8vw;
  width: 15vw;
  border-radius: 2%;
  border-color: rgba(156, 78, 180, 0.695);
  background-color: rgba(185, 185, 185, 0.791);
}

.SDHButton > h1 {
  font-size: 2rem;
}

@media (max-width: 1215px) {
  .SDHImageContainer img {
    object-fit: cover;
    height: calc(0.82 * (90vh));
    width: unset;
    z-index: -1;
  }
}

.active {
  background-color: rgb(255, 152, 68);
}
