:root {
  --gap: 30px;
  --categoryColors: #ede3fb;
  --line-color: rgb(131, 129, 131);
  --basic-color: #92f5a8;
  --advanced-color: #f5aa9c;
}

body {
  height: 100vh;
}

#labSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #f8f5f6, #fcf1e9);
  min-height: calc(100% - 80px);
}

#categoryGridContainer {
  /* border-top: 2px var(--line-color) solid;
  border-left: 2px var(--line-color) solid;
  border-right: 2px var(--line-color) solid; */
  border: 2px var(--line-color) solid;
  border-radius: 5px;
  padding: 50px;
  padding-left: 4rem;
  padding-right: 4rem;
  width: clamp(auto, 80%, 1500px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  margin-left: 50px;
  margin-right: 50px;
  min-height: 20vh;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #categoryGridContainer {
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
  }
}

#categoryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--gap);
  row-gap: calc(var(--gap) * 2);
  column-gap: 40px;
  width: 100%;
}

#categoryGridContainer > div:first-child {
  top: -20px;
  width: 50%;
  position: absolute;
}

.categoryWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2.5rem;
}

.category {
  background-color: var(--categoryColors);
  max-width: 300px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  transition: all 0.25s;
  border-bottom: 2px var(--line-color) solid;
  color: #939597;
  letter-spacing: 0.05rem;
}

.category:hover {
  background-color: rgb(220, 237, 243);
  color: #626466;
}

.lineDown {
  position: absolute;
  height: calc(100% + var(--gap) * 2 + 2px);
  width: 2px;
  top: 50%;
  background-color: var(--line-color);
}

.lineRight {
  position: absolute;
  height: 2px;
  width: calc(100% + var(--gap) + 10px);
  top: 50%;
  left: 50%;
  background-color: var(--line-color);
}

#categoryData {
  position: relative;
  width: 100%;
  top: -2rem;
  border-radius: 10px;
}

.labRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}

.labCard {
  border-radius: 5px;
  border: 2px rgba(255, 255, 255, 0) solid;
  width: 175px;
  cursor: pointer;
  display: block;
  transition: all 0.15s;
  overflow-wrap: break-word;
  background: linear-gradient(#f5f9fa23, #f5f9fa);
  position: relative;
}

.labCard .basic {
  --size-gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 7px var(--basic-color) solid;
  border-radius: 10px;
  z-index: 5;
  width: calc(100% + var(--size-gap));
  height: calc(100% + var(--size-gap));
}

.labCard .advanced {
  --size-gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 7px var(--advanced-color) solid;
  border-radius: 10px;
  z-index: 5;
  width: calc(100% + var(--size-gap));
  height: calc(100% + var(--size-gap));
}

.labCard .both {
  --size-gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-image: linear-gradient(
      var(--basic-color) 50%,
      var(--advanced-color) 50%
    )
    1;
  border-width: 7px;
  border-style: solid;
  border-radius: 10px;
  z-index: 5;
  width: calc(100% + var(--size-gap));
  height: calc(100% + var(--size-gap));
}

.labCard:hover {
  border: 2px var(--line-color) solid;
}

.labCardImageWrapper {
  background: rgb(228, 223, 230);
  border-radius: 4px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.labCardImageWrapper img {
  height: 100%;
}

.labCard h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
}
