.markdown {
  position: relative;
  max-width: calc(100vw - var(--navbar-offset) - 150px);
  margin-left: 25px;
}

.markdown img {
  max-width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: block;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown tr {
  border-top: 1px solid var(--color-border-muted);
  background-color: var(--color-canvas-default);
}

.markdown tr:nth-child(2n) {
  background-color: var(--color-canvas-subtle);
}

.markdown td,
.markdown th {
  padding: 6px 13px;
  border: 1px solid var(--color-border-default);
  max-width: 275px;
}

.markdown th {
  font-weight: 600;
}

.markdown table img {
  background-color: transparent;
  transform: none;
}

.markdown .downloadButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 2rem;
  background-color: var(--color-border-default);
  border-radius: 4px;
  padding: 10px;
  gap: 10px;
  transition: all 100ms;

  img {
    all: unset;
  }
}

.markdown .downloadButton:hover {
  filter: brightness(90%);
}

@media (max-width: 800px) {
  .markdown {
    max-width: 100%;
    margin: 0;
  }
}
