:root {
  --color-canvas-default: #f6f7fa;
  --color-canvas-subtle: #f1f2f5;
  --color-border-default: #d0d7de;
  --color-border-muted: hsla(210, 18%, 87%, 1);
  --navbar-offset: clamp(200px, 20vw, 300px);
}

html {
  scroll-behavior: smooth;
}

#syllabusSection {
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
  /* background: linear-gradient(rgb(245, 246, 248), rgb(240, 237, 243)); */
  background: linear-gradient(to bottom, #f8f5f6, #fcf1e9);
  position: relative;
}

#container {
  display: flex;
  flex-direction: row;
  z-index: 1;
}

#content {
  position: relative;
  max-width: calc(100vw - var(--navbar-offset) - 150px);
  width: 100%;
  margin-left: 50px;
  overflow: visible;
  right: 0;
  --color-canvas-default: #fff0df9d;
  --color-canvas-subtle: #f3e3ce9d;
  --color-border-default: #c5bfb89d;
  --color-border-subtle: #bdaf9f9d;
}

#scheduleToggleButtonDiv {
  border: 1px solid var(--color-border-default);
  border-bottom: none;
  background-color: var(--color-canvas-default);
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;

  button {
    height: 30px;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: all 100ms;
  }

  button:hover {
    border-bottom: 2px solid rgb(192, 192, 192);
  }

  .borderBottom {
    border-bottom: 2px solid gray;
    transition: all 100ms;
  }

  .borderBottom:hover {
    border-bottom: 2px solid gray;
  }
}

@media (max-width: 800px) {
  #navbar {
    display: none;
  }

  #content {
    max-width: 100%;
    margin: 0;
  }
}

#content table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  backdrop-filter: saturate(180%) blur(10px);
}

#content tr {
  border-top: 1px solid var(--color-border-muted);
  background-color: rgba(var(--color-canvas-default), 0.8);
}

#content tr:nth-child(2n) {
  background-color: var(--color-canvas-subtle);
}

#content td,
#content th {
  padding: 6px 13px;
  border: 1px solid var(--color-border-default);
  max-width: 275px;
}

#content th {
  font-weight: 600;
}

#content table img {
  background-color: transparent;
  transform: none;
}

#navbarContainer {
  position: sticky;
  top: 50px;
  height: 90vh;
  width: var(--navbar-offset);
}

#rebeccafox {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -5px;
  width: 100%;
  filter: drop-shadow(-15px 5px 0px #fb9db9);
}
